/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

header{
  height: 50px;
}

footer{
  height: 75px;
 
}

main{
  height: calc(100vh - 125px);
  width: 100%;
  padding: 20px 80px;
  overflow: auto;
}

button{ 
  all: initial;
}
/* General */
/* Utilities */
.bg-light-dark{
  background-color: #222222;
}

.bg-black{
  background-color: black;
}

.debug{
  background-color: red;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  row-gap: 16px;
}
/* Utilities */
/* Header */
header nav{
  position: relative;
}

header button{
  padding: 6px;
  cursor: pointer;
  color: white;
  background-color: rgba(100, 100, 100, 0.6);
  position: absolute;
  right: 44px;
  top: 10px;
  font-size: 0.9em;
  border-radius: 5px;
}

header button:nth-of-type(2){
  right: 15px;
}

header button:hover{
  background-color: rgba(100, 100, 100, 0.9);
}

/* Header */
/* Main */
 main .user-card{
    height: 140px;
    width: 230px ;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
 }

 main .user-card img{
  height: 100%;
  width: 100%;
}

main .user-card span{
  color: white;
  position: absolute;
  left:0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.8);
  padding: 4px 8px; 
}

main .user-card:hover{
  height: calc(140px + 50%);
  width: calc(230px + 1%) ;
}
/* Main */
/* Footer */
footer nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

footer button{
  color: white;
  cursor: pointer;
  padding: 0 15px;
}

footer button i{
  transform: translate();
  font-size: 1.25vw ;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

footer button span{
  display: block;
  text-align: center;

}

footer .chevron i::after{
  /* font-family: "Font Awesome 5 Free"; Non mi funzionava sta volta */
  content: "\2303";
  color: white;
  display: inline-block;
  margin-left: 10px;
  font-size: 0.8rem;
}

footer button:hover{
  color: gainsboro;
}

footer button:active{
  color: lightgreen;
}

footer .col.right{
  height: 100%;
}

footer .col.right button{
  color: red;
  height: 100%;
  padding: 0 20px;
  }

  footer .col.right button:hover{
  background-color: #4a4a4a;
    }

@media screen and ( max-width: 1200px ) {
  footer button span{
    display: none;
  }
  footer button i{
    font-size: 1.5em;
    padding-top: 10px;
  }
  }

/* Footer */